.wrap {
    display: flex;
    gap: calc((100% - 900px) / 2 - 200px);
    padding: 10px 20px;
}

div.write-user {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;

    background-color: #dddddd;

    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
        margin-top: 8px;
    }

}

.filter-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div.filter-header {
        width: 110px;
        height: 25px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 400;
        background-color: #ffffff;
        color: #707070;

        border : none;
        border-radius: 100px;

        display: flex;
        gap: 10px;
        align-items: center;
    }
    ul.filter-ul {
        width: 200px;
        background-color: #ffffff;
        border: none;
        & > li:first-child{
            border-radius: 2px 2px 0px 0px;
        }
        & > li:last-child {
            border-radius: 0px 0px 2px 2px;
        }
        & > li {
            border: 1px solid #dddddd; 
            font-size: 14px;
            font-weight: 300;
            height: 40px;

            display: flex;
            align-items: center;
            gap: 10px;
            color: #707070;
            & > div {
                width: 5px;
                height: 42px;
                border: none;
            }
            & > div:first-child {
                border-radius: 2px 0px 0px 0px;
            }
            & > div:last-child {
                border-radius: 0px 0px 0px 2px;
            }
        }
        
    }
}

div.tag {
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    background-color: #D9D9D9;
    color: #ffffff;
    font-size: 12px;
}
div.tag:hover {
    background-color: #588157;
}

.community-box {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    div.community-write {
        width: 100%;
        height: 170px;
        background-color: #ffffff;
        border-radius: 5px;

        display: flex;
        flex-direction: column;

        div.community-write-content {
            height: 120px;
            border-bottom: 1px solid #dddddd;
            display: flex;
            justify-content: space-between;
            div.community-write-content--left {
                height: 100%;
                display: flex;
                padding: 0px 20px;
                gap: 10px;
                align-items: center;
                
                & input {
                    border: none;
                    width: 500px;
                }
                & input::placeholder {
                    color: #999999;
                    font-size: 16px;
                }
                & input:focus {
                    outline: none;
                }
            }
            div.community-write-content--right{
                .div-icon {
                    display: flex;
                    padding: 10px 10px;
                    gap: 6px;
                }
                .icon-box {
                    width: 30px;
                    height: 30px;
                    border: none;
                    border-radius: 50%;
                    background-color: #DAD7CD;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    div.community-write-tag {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        span {
            font-size: 12px;
            color: #848688;
        }
        
        div.tag-wrap {
            display: flex;
            gap: 10px;
        }
        
    }

    div.community-line {
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
        span {
            width: 80px;
            color: #bbbbbb;
            font-size: 10px;
        }
        div.left-line, div.right-line {
            width: calc((100% - 80px) / 2 - 2px);
            height: 0px;
            border: 0.5px solid #bbbbbb;
        }
    }

    div.community-post {
        width: 900px;
        div.community-post-img {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        div.community-post-header {
            height: 160px;
            background-color: rgba(255,255,255,0.8);
            div.user {
                display: flex;
                padding: 0px 20px;
                gap: 10px;
            }
            div.set-div {
                display: flex;
                justify-content: flex-end;
                padding: 10px 10px;
            }

            div.userset {
                display: flex;
                flex-direction: column;
            }

            div.post-user {
                display: flex;
                gap: 5px;
                flex-direction: column;
                align-items: center;
                .username {
                    color: #1e1e1e;
                    font-size: 20px;
                    font-weight: 600;
                }
                .userset {
                    color: #707070;
                    font-size: 14px;
                }
            }
            div.post-content {
                padding: 10px 30px;
                font-size: 14px;
                color: #1e1e1e;
            }
        }
        div.community-post-center {
            display: flex;
            justify-content: space-between;
            padding: 0px 20px;
        }
        div.community-post-footer {
            display: flex;
            justify-content: flex-end;
            padding: 0px 5px;
            align-items: center;
            height: 40px;
            .right-box {
                display: flex;
                gap: 200px;
            }
            .tag-box {
                display: flex;
                gap: 5px;
            }
        }
        div.community-post-log {
            background-color: #ffffff;
            font-size: 14px;
            color: #707070;
            display: flex;
            padding: 10px 20px;
            gap: 10px;
            
            div.log-keyword-div {
                display: flex;
                align-items: center;
                gap: 3px;
            }
        }
    }

}