.content-goods {
    width: 1040px;
    padding: 60px 0px;
    background-color: #ffffff;

    border: none;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.goods-sendus-box {
    width: 845px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 10px;

    padding: 5px 10px 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #787878;
    
    button {
        border: 1px solid #787878;
        padding: 3px 20px;
        color: #787878;
        border-radius: 10px;
    }

    button:hover {
        background-color: #787878;
        color: #E8E8E8;
    }
}

.goods-itembox {
    width: 900px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner {
    width: 900px;
    height: 120px;
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    .container {
        background-color: rgba(217, 217, 217, 25%);
        display: flex;
        justify-content: space-between;
        & > img {
            width: 120px;
            height: 110px;
            object-fit: contain;
        }
    }
    span {
        text-align: right;
    }
    .text-box {
        padding: 40px 0px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }
    .content-span {
        font-size: 15px;
        font-weight: bold;
        color: #787878;
    }
}
.goods-itembox-small {
    width: 400px;

    border: none;
    border-radius: 10px;

    color: #ffffff;
    background-color: #344E41;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;

    .text-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px;

        & > div {
            font-size: 30px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        & > span {
            margin-left: 20px;
        }
        button {
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 10px;
            padding: 5px 10px;
            color: #ffffff;
        }
        button:hover {
            background-color: #ffffff;
            color: #344E41;
        }
    }
    .list {
        display: flex;
        justify-content: flex-end;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
}

.goods-itembox-big {
    width: 720px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px 40px 160px;

    border-radius: 10px;
    box-shadow: 2px 2px 1px #787878;
    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
    .text-box {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        gap: 10px;
        padding: 20px 0px;
    }
    button {
        width: 100px;
        font-size: 15px;
        padding: 5px 10px;
        background-color: transparent;
        border-radius: 10px;
    }
    .hover-a:hover {
        background-color: #1e1e1e !important;
        color: #ffffff !important;
    }
    .hover-b:hover {
        background-color: #ffffff !important;
        color: #DAD7CD !important;
    }
}