body {
    margin : 0;
    
}

#service {
    height: 55vw;
    width: 101%;
    background-color: #344E41;
    position: relative;
    display: flex;
    text-align: right;
    align-items: center; 
    font-size: 30px;  
}

.samepfont {
    color : #FFFFFF;
}

.text-content {
    padding: 0 20px; 
    margin-left : 25%;
    flex-direction: column;
    justify-content: space-between;
    color : #BBBBBB;
}

.text-wrap button {
    border-radius: 10px;
    height: 40px;
}

#bottom-text {
    align-self: flex-end; 
    position: absolute;
    bottom : 8%;
    left :32%;
    color : #BBBBBB;
    font-size: 30px;
}

#service img { 
    max-width: 20%; 
    height: auto;
}

#point {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #FFFFFF;
}


.community {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #588157;
    text-align: center;   
}


.community h1 {
    margin : 4%;
    color : #FFFFFF;
}

.community p {
    margin : 3%;
    color : #F3F3F3;
}

.community h3 {
    margin-top : 8%;
    color : #BBBBBB;
}
.communityimg {
    height: 50%;
    width: 50%;
}

.ranking {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
}
.ranking h1 {
    margin-top : 5%;
    color : #787878;
}
.ranking p {
    color : #787878;
}
.ranking h3 {
    color : #BBBBBB;
    margin : 35%;
}
.rankingmiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top : 5%;
    position: relative;
}
.rankingmiddle img{
    height: 45vh;
    width: 45vw;
    position: absolute;
    left : 10%;
}

.ranking-text-container { 
    display: flex;
    flex-direction: column; 
    position: absolute;
    right : 15%; 
    top: 0; 
    margin: 5%;
    color : #787878;
}

#ranking-secondp {
    margin-top : 10%;
}

.sorted {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #A3B18A;
    text-align: center;   
    position: relative;
}

.sorted h1 {
    margin : 4%;
    color : #FFFFFF;
}

.sorted p {
    margin : 3%;
    color : #F3F3F3;
}

.sorted h3 {
    position: absolute;
    bottom :5%;
    left : 42%;
    color : #BBBBBB;
}
#sortedimg {
    margin-top: 2%;
    height: 50vh;
    position: absolute;
    right : 13%;
}
.sorted-text-container { 
    display: flex;
    flex-direction: column; 
    position: absolute;
    left : 10%; 
    top: 35%; 
    margin: 5%;
    color : #787878;
}

#sorted-secondp {
    margin-top : 25%;
}

.pointstore {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #DAD7CD;
    text-align: center;   
    position: relative;
}

#pointstore  h1 {
    margin : 4%;
    color : #FFFFFF;
}

.pointstore  p {
    margin : 3%;
    font-size: 1.3rem;
    color : #F3F3F3;
}

.pointstore img {
    margin-top: 2%;
    height: 50vh;
    position: absolute;
    left : 13%;
}

#pointstorep {
    color : #f3f3f3;
    position: absolute;
    right : 15%;
    text-align: left;
    font-size: 1.4rem;
}