body {
    margin : 0;
    padding: 0;
    
}

.service {
    height: 55vw;
    width: 101%;
    background-color: #344E41;
    position: relative;
    display: flex;
    text-align: right;
    align-items: center; 
    font-size: 30px;  
}

.samepfont {
    color : #FFFFFF;
}

.text-content {
    padding: 0 20px; 
    margin-left : 25%;
    flex-direction: column;
    justify-content: space-between;
    color : #BBBBBB;
}

.text-wrap button {
    border-radius: 10px;
    height: 40px;
}

.service-bottom-text {
    align-self: flex-end; 
    position: absolute;
    bottom : 8%;
    left :32%;
    color : #BBBBBB;
    font-size: 30px;
}

.bottom-text img { 
    max-width: 20%; 
    height: auto;
}

.point {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #FFFFFF;
}
.pointmiddle {
    position: relative;
    height: 100%;
    width: 100%;
}
.pointbackimg {
    position: absolute;
    top : 20%;
    left : 13%;
}
.pointfrontimg {
    position: absolute;
    top : 17%;
    left : 11%;
}
.pointrightArrow {
    position: absolute;
    top : 57%;
    right : 20%;
}
.pointrighttext {
    position : absolute;
    top : 53%;
    right : 10%;
    text-align: center;
    color : #787878;
    font-size: 16px;
}
.pointmiddletext {
    position: absolute;
    top : 25%;
    left : 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.point h3 {
    position: absolute;
    bottom :5%;
    left : 45%;
    color : #BBBBBB;
}
.titlep {
    color : #1E1E1E;
    font-weight: bold;
    font-size: 30px;
    margin-bottom : 1%;
}
.titlediscription {
    color : #BBBBBB;
    font-size: 15px;
}

.pointmiddletext hr {
    width: 10%;
    color : #344E41;
}
.pointmaintext {
    color : #787878;
    text-align: center;
    font-size: 16px;
}
.community {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #588157;
    text-align: center;   
    position: relative;
}
.communityimgtotextone {
    position: absolute;
    height: 1%;
    width: 8%;
    top : 36%;
    left : 70%;
    z-index: 1;

}
.communityimgtotexttwo {
    position: absolute;
    height: 1%;
    width: 8%;
    top : 50%;
    left : 70%;
    z-index: 1;

}

.community h1 {
    margin : 4%;
    color : #FFFFFF;
}

.community p {
    margin : 3%;
    color : #F3F3F3;
}

.community h3 {
    margin-top : 8%;
    color : #BBBBBB;
}
.communityimg {
    height: 50%;
    width: 50%;
}

.community-text-container { 
    display: flex;
    flex-direction: column; 
    position: absolute;
    width: 20%;
    right : 0;
    top: 22%; 
    margin: 5%;
    color : #787878;
}

.community-secondp {
    margin-top : 5%;
}

.ranking {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
}
.ranking h1 {
    margin-top : 5%;
    color : #787878;
}
.ranking p {
    color : #787878;
}
.ranking h3 {
    color : #BBBBBB;
    margin-top : 35%;
}
.rankingmiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top : 5%;
    position: relative;
}
.rankingimgtotextone {
    position: absolute;
    height: 1%;
    width: 12%;
    top : 40%;
    left : 50%;
    z-index: 1;
}
.rankingimgtotexttwo {
    position: absolute;
    height: 1%;
    width: 11%;
    top : 60%;
    left : 51%;
    z-index: 1;
}
.rankingimgshadow img {
    display: block;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
}
.rankingmainimg{
    height: 45vh;
    width: 45vw;
    position: absolute;
    left : 10%;
}

.ranking-text-container { 
    display: flex;
    flex-direction: column; 
    position: absolute;
    right : 15%; 
    top: 0; 
    margin: 5%;
    color : #787878;
}

.ranking-secondp {
    margin-top : 14%;
}
.downarrow {
    height: 20px;
    width: 20px;
}
.sorted {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #A3B18A;
    text-align: center;   
    position: relative;
}
.sortedimgtotextone {
    position: absolute;
    top : 46%;
    left : 28%;
    height: 1%;
    width: 8%;
    z-index: 1;
}
.sortedimgtotexttwo {
    position: absolute;
    top : 60%;
    left : 30%;
    height: 1%;
    width: 14%;
    z-index: 1;
}

.sorted h1 {
    margin : 4%;
    color : #FFFFFF;
}

.sorted p {
    margin : 3%;
    color : #F3F3F3;
}

.sorted h3 {
    position: absolute;
    bottom :5%;
    left : 42%;
    color : #BBBBBB;
}
#sortedimg {
    margin-top: 2%;
    height: 50vh;
    position: absolute;
    right : 13%;
}
.sorted-text-container { 
    display: flex;
    flex-direction: column; 
    position: absolute;
    left : 10%; 
    top: 35%; 
    margin: 5%;
    color : #787878;
}

#sorted-secondp {
    margin-top : 25%;
}

.pointstore {
    border : solid 1px;
    height: 55vw;
    width: 100%;
    background-color: #DAD7CD;
    text-align: center;   
    position: relative;
}
#pointstore  h1 {
    margin : 4%;
    color : #FFFFFF;
}

.pointstore  p {
    margin : 3%;
    font-size: 1.3rem;
    color : #F3F3F3;
}

.pointstore img {
    margin-top: 2%;
    height: 50vh;
    position: absolute;
    left : 13%;
}

#pointstorep {
    color : #f3f3f3;
    position: absolute;
    right : 15%;
    text-align: left;
    font-size: 1.4rem;
}
.pointstorelink {
    position: absolute;
    top : 30%;
    left : 59%;
    z-index: 1;
    border : solid 0.2px #1E1E1E;
    background-color: #1E1E1E;
    width: 6%;
    height: 0.2px;
    transform: rotate(-25deg);
}
.pointstorecircle {
    position: absolute;
    top : 32%;
    left : 59.1%;
    z-index: 2;
    border : solid 0.2px #1E1E1E;
    background-color: #1E1E1E;
    border-radius: 50%;
    height: 0.5%;
    width: 0.3%;
}   