
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.rank-content {
  width: 1000px;
  background-color: #ffffff;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px 0px 100px 0px;
}

.rank {
  width: 1000px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .rank-box:hover {
    width: 200px;
    height: 210px;
    font-weight: bold !important;
    .rank-box-top {
      background-color: #ffffff;
    }
    .ingage {
      visibility: visible;
    }
  }
  .rank-box {
      width: 180px;
      height: 190px;
      position: relative;
      border: none;
      border-radius: 20px;

      box-shadow: 0px 4px 4px #787878;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .ingage {
        position: absolute;
        top: 263px;
        width: 190px;
        height: 4px;

        border-radius: 15px;
        visibility: hidden;
      }
      
      .rank-box-top {
          padding: 35px 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: #BBBBBB;
          border-radius: 20px 20px 0px 0px;
          .rank-span-num {
              font-size: 24px;
              font-weight: 700;
              mark {
                  background-color: transparent;
                  font-weight: 800;
                  font-size: 30px;
              }
          }
          .rank-span-text {
              font-size: 13px;
              color: #787878;
              mark {
                  background-color: transparent;
                  font-size: 14px;
              }
          }
      }
      .rank-box-bottom {
          height: 100px;
          border-radius: 0px 0px 20px 20px;
          padding: 10px 10px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #ffffff;

          .rank-box-point {
              font-weight: 800;
              font-size: 20px;
          }
          .rank-box-nametag {
              font-size: 12px;
          }
      }
  }
}

.top-icon-box {
  padding: 10px 0px 60px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 12px;
  color: #bbbbbb;

  & > div {
    padding: 0px 120px;
    display: flex;
    gap: 10px;
    & > div {
      display: flex;
      gap: 2px;
    }
  }
}

.gage-container {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .gage-box {
    width: 770px;
    height: 10px;
    background-color: #E8E8E8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    .gage {
      background-color: #588157;
      width: 200px;
      height: 4px;
      border-radius: 15px;
      margin-left: 380px;
    }
  }
}

.graph-container {
  width: 1000px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.bar-graph-box, .statistics-graph-box {
  width: 380px;
  height: 440px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .explan-box {
    padding: 5px;
    margin-left: 20px;
    display: flex;
    width: 380px;
    gap: 5px;
    & > span {
      font-size: 12px;
      color: #787878;
    }
  }
  
}
.bar-graph {
  width: 350px;
  height: 400px;
  margin: 0px 15px;

  display: flex;
  flex-direction: column;
  .bar {
    position: relative;
    width: 348px;
    height: 340px;
    display: flex;
    justify-content: flex-end;
    & > hr {
      position: absolute;
      width: 348px;
      background-color: #E8E8E8;
      border: 0.5px solid #E8E8E8;
      z-index: 1;
    }
    & > ul {
      width: 348px;
      height: 340px;
      display: flex;
      gap: 36px;
      li {
        width: 60px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & > div {
          width: 60px;
          border-radius: 15px 15px 0px 0px;
          background-color: #787878;
          z-index: 2;
        }
        & > div:hover {
          background-color: #588157;
        }
      }
    }
  }
 
  .x-explan {
    width: 348px;
    height: 60px;
    border: none;
    border-radius: 0px 0px 15px 15px;
    background-color: #ffffff;
    display: flex;
    gap: 36px;
    & > div {
      padding: 10px 0px 0px 0px;
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > span {
        font-size: 12px;
      }
    }
  }
}
.statistics-graph-box {
  gap: 10px;
}
.statistics-btn {
  width: 320px;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #ffffff;
  & > span {
    font-size: 16px;
    color: #787878;
  }
}
.statistics-content {
  background-color: #ffffff;
  width: 320px;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  gap: 10px;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > div {
      & > .univ {
        font-size: 16px;
        color: #BBBBBB;
      }
      & > .dem {
        font-size: 18px;
        font-weight: bold;
        color: #1e1e1e;
      }
    }
    & > span {
      font-size: 14px;
      color: #787878;
    }
  }
}
.statistics-header {
  background-color: #ffffff;
  width: 320px;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .statistics-header-up {
    display: flex;
    gap: 10px;
    & > span {
      font-size: 20px;
      font-weight: bold;
    }
    & > div {
      display: flex;
      font-size: 8px;
      align-items: end;
      display: flex;
      gap: 3px;
    }
  }
  .statistics-header-bottom {
    display: flex;
    justify-content: space-between;

    & > div {
      font-size: 12px;
      color: #787878;
      display: flex;
      gap: 5px;
      align-items: end;
    }
    & > span {
      font-size: 30px;
      font-weight: bold;
      color: #588157;
    }
  }
}