body {
    margin : 0px;
    padding : 0px;
    background-color: rgba(245, 243, 243, 0.78);
}

#top {
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap : 30px;
}

a {
    text-decoration: none;
}

#right {
    margin-right : 20px;
}

#t-img {
    margin-top : 0.5%;
    margin-left : 1%;
}

#fontlogo {
    margin-bottom : 10%;
}


#sortedmainback {
    width : 100%;
    height: 20%;
}

#main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
}

#sortedfiltermargin {
    margin-left : 3%;
}

.sortedfilterdiv {
    width: 15%;
    border: solid 1px rgba(206, 201, 201, 0.897);
    box-shadow : 0px 2px rgba(206, 201, 201, 0.897);
}


.sortedfilterdiv p {
    position: relative; 
    padding-left : 10%;
    margin-left: 5px; 
}

#clickbackground::before {
    content: ""; 
    position: absolute; 
    left: -3%; 
    top:-85%;
    width: 5px; 
    height: 270%; 
    background-color: green; 
}

.rowline {
    width: 2px;
    height: 80%;
    background-color: black;
}

.box1 {
    border : 1px solid black;
    height: 48%;
    width : 20%;
    position: absolute;
    top : 8%;
    left : 25%;
    text-align: center;
    border-radius: 5px;
}

.box1 img {
    margin : 2%;
    height: 90%;
    width: 85%;
}


.box2 {
    border : 1px solid black;
    height: 48%;
    width : 20%;
    position: absolute;
    top : 8%;
    left : 50%;
    text-align: center;
    border-radius: 5px;
}

.box2 img {
    margin : 2%;
    height: 90%;
    width: 85%;
}

.box3 {
    border : 1px solid black;
    height: 48%;
    width : 20%;
    position: absolute;
    top : 8%;
    left : 75%;
    text-align: center;
    border-radius: 5px;
}

.box3 img {
    margin : 2%;
    height: 90%;
    width: 85%;
}

.box4 {
    border : 1px solid black;
    height: 48%;
    width : 20%;
    position: absolute;
    top : 60%;
    left : 25%;
    text-align: center;
    border-radius: 5px;
}
.box4 img {
    margin : 2%;
    height: 90%;
    width: 85%;
}

.box5 {
    border : 1px solid black;
    height: 48%;
    width : 20%;
    position: absolute;
    top : 60%;
    left : 50%;
    text-align: center;
    border-radius: 5px;
}
.box5 img {
    margin : 2%;
    height: 90%;
    width: 85%;
}

.box6 {
    border : 1px solid black;
    height: 48%;
    width : 20%;
    position: absolute;
    top : 60%;
    left : 75%;
    text-align: center;
    border-radius: 5px;
}
.box6 img {
    margin : 2%;
    height: 90%;
    width: 85%;
}

#hrmargin {
    margin-top : 10%;
}

#footmargin {
    margin-top : 5%;
    margin-left : 3%;
}

.input-wrapper {
    margin-top : 2%;
    margin-bottom: 3%;
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-left : 1%;
    padding-right: 50px; 
    width: 86vw; 
    height: 40px; 
    border-radius: 10px;
}

.input-wrapper button {
    position: absolute;
    right: 2%;
    top: 50%; 
    transform: translateY(-50%); 
    height: 30px; 
}

.footfont {
    color: #787878;
    display: flex;
    gap : 20px;
}

#lastfooter {
    color : #BBBBBB;
    font-size: 2%;
    margin-bottom: 2%;
}